p{
    font-family:Arial;
    font-size:1.4rem;
    margin-left: 0;
    }

    body{
    margin:0px;
    background-color:#e6e6e6;
    margin: 0;
    
    }
    
    .title{
    position:absolute;
    font-size:7rem;
    color:#333;
    font-family:Open Sans;
    right:25%;
    text-shadow: 2px 2px #a89a9a;
    }
    
    section{
    font-size:1.7rem;
    padding:2rem;
    background-color:#333;
    opacity:0.9;
    color:white;
    
    
    }
    section h2{
    padding-left:10%;
    text-align:justify;
    
    }
    section p{
    justify-content:center;
    align-items:center;
    width:80%;
    padding-left:10%;
    text-align:justify;
    }
    .wrapper{
    
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    perspective:10px;
    
    }
    
    header{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    transform-style:preserve-3d;
    z-index:-1;
    
    }
    
    .background{
    position:absolute;
    left:-450px;
    object-fit:cover;
    z-index:-1;
    
    }
    
    .foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:-1;
    }
    
    .background{
    transform:translateZ(-10px) scale(2);
    }
    
    .headsed{
      
        display:flex;
         justify-content:space-between;
        background-color:#333;
        height:15%;
        align-items:center;
        z-index:9999;
        transition: all 300ms ease-in-out;
    
    }
    
    .headings{
    margin-left:40px;
    }
    .headings h1{
    text-shadow: 1px 1px #e6e6e6;
    font-size:45px;
    }
    
    
    nav{
    margin-right:40px;
    
    }
    
    
    nav ul{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:35px;
    
    
    
    
    }
    nav ul li{
    color:white;
    font-weight:700;
    list-style-type:none;
    padding-right:40px;height:100%;
    width:100%;
  
    }
    
    nav ul li a {
    text-decoration:none;
    color:#e6e6e6;
    font-family: Arial;
    border:hidden;
    border-radius: 5px;
    transition: all 500ms;
    
    }

    .up{

        background-color: rgba(177, 170, 170, 0.726);
        filter: drop-shadow(0 -10px 20px rgb(170,170,170)) ;
        color: wheat;
    }
    
    .down{
        transform: translate3d(0,100%,0);

    }
    
    li a:hover{
    color:#333;
    transform: scale(1.5);
    background-color:rgb(180, 179, 179);
    }
    
    .container{
    
    background-color:#333333e5;
    
    color:white;
    font-size:1.7rem;
    width:100%;
    
    }
    .container h1{
    margin:0;
    font-size:2rem;
    padding-left:10%;
    margin-bottom:10px;
    
    }
    .container p{
    width:80%;
    padding-left:10%;
    margin-bottom:40px;
    font-family:Arial;
    font-size:1.5rem;
    }
    .contact-box{
    
display:flex;
    font-family:Arial;
    
    }
    .contact-left{
    flex-basis:60%;
    padding:40px 60px;
    background-color:#a19f9f;
    color:#333;
    font-family:Arial;
    font-size:1.5rem;
    
    font-family:Arial;
    
    
    }
    .contact-right{
    flex-basis:60%;
    padding:40px ;
    background-color:#a19f9f;
    color:#333;
   
    font-family:Arial;
    font-size:1.5rem;
    
    
    
    }
    
    #contact{
    font-family:Arial;
    
    }
    .contact-right li{
    list-style-type:none;
    
    }
    
    .contact-box{
    display:flex;
    
    
    
    }
    .input-row{
    display:flex;
    justify-content:space-between;
    }
    
    .input-group{

    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom:20px;
    
    }
    
    
    input{
    width:100%;
    height:30px
    
    }
    .mesaj{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
    }
    
    button{
    width:15%;
    height:10%;
    
    }
    .project-wrapper{

        margin-right:10%;
    }
    .tumbnails{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
       
    
        }

        .desc{
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        
        }

    .tumbnails img{

        cursor: pointer;
    }
    #lightbox{
        position:fixed;
        top:1750px;
        left:0px;
        width:100%;
        height:100%;
        background-color:rgb(0, 0, 0);
        opacity: 1;
        display: none;
        z-index: 1000px;
       

        }
       
    #lightbox.active{
        display: flex;
        align-items: center;
        justify-content:center;
        opacity: 1;
    }

    .proje_description p{
        margin-left: 0;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    label{
        font-size: 15px;
        margin:15px 0px 5px 0px;
    }


    .hangman{
        margin-right:10%;
    }

    .hangman-wrapings{

        display: flex;

    }
    .hangmanpic{
        transition: all 500ms;
    }
    .hangmanpic:hover{
        cursor: pointer;
        transform: scale(1.2);


    }

    .introduction{
        margin-left:115px;
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        
    }
    .introductionse{
       
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-right: 10%;
        margin-left:-5px;

    }

